<!-- templates/profile.html -->
{% extends "base.html" %}

{% block content %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<div class="profile-container">
    <div class="profile-header">
        <h1 class="profile-title">👤 Личный кабинет</h1>
    </div>

    {% with messages = get_flashed_messages() %}
    {% if messages %}
    <div class="alert alert-info" role="alert">
        {% for message in messages %}
        <div>{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="profile-card">
        <div class="avatar-section">
            <div class="avatar-circle">
                {% if user.avatar == None %}
                <span class="avatar-initials">{{ user.last_name[0] }}{{ user.first_name[0] }}</span>
                {% else %}
                <img src="{{ url_for('static', filename='avatars/' + user.avatar) }}" alt="Аватар пользователя"
                    style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                {% endif %}
            </div>
            <button class="edit-btn" id="edit-btn">Редактировать</button>
            <form action="/logout">
                <button class="edit-btn"> Выйти </button>
            </form>
        </div>

        <div class="profile-info">
            <form method="post" action="/dashboard">
                <div class="info-item">
                    <span class="info-label">ФИО:</span>
                    <input class="info-value" type="text" name="full_name"
                        value="{{ (user.last_name or '') + ' ' + (user.first_name or '') + ' ' + (user.middle_name or '') }}"
                        readonly />
                </div>

                <div class="info-item">
                    <span class="info-label">Эл. почта:</span>
                    <input class="info-value" type="email" name="email" value="{{ user.email or '' }}" required
                        readonly />
                </div>

                <div class="info-item">
                    <span class="info-label">Регион проживания:</span>
                    <input class="info-value" type="text" name="region" id="region_input"
                        value="{{ user.region_label or user.region or '' }}" list="regions-list" readonly />
                    <datalist id="regions-list">
                        {% for code, label in regions %}
                        <option value="{{ label }}">
                            {% endfor %}
                    </datalist>
                </div>

                <div class="info-item">
                    <span class="info-label">Заработная плата:</span>
                    <input class="info-value" type="number" name="income" step="0.01" value="{{ user.income or '' }}"
                        readonly />
                </div>

                <div class="info-item">
                    <span class="info-label">Ваш ID:</span>
                    <p class="info-value">{{ user.user_id or user.id }}</p>
                </div>

                <button class="edit-btn" type="submit" id="save-btn" style="display: none;">Сохранить изменения</button>
            </form>
        </div>
    </div>
</div>

<script>
    document.getElementById('edit-btn').addEventListener('click', function () {
        const inputs = document.querySelectorAll('.info-value');
        const saveBtn = document.getElementById('save-btn');
        const editBtn = document.getElementById('edit-btn');

        if (editBtn.textContent === 'Редактировать') {
            // Включить редактирование
            inputs.forEach(input => {
                input.removeAttribute('readonly');
                input.classList.add('editable');
            });
            saveBtn.style.display = 'inline-block';
            editBtn.textContent = 'Отменить';
        } else {
            // Отменить редактирование
            inputs.forEach(input => {
                input.setAttribute('readonly', true);
                input.classList.remove('editable');
            });
            saveBtn.style.display = 'none';
            editBtn.textContent = 'Редактировать';
        }
    });
</script>

{% endblock %}